<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Welcome to blogify</h1>
   <%- include('./partials/scripts') %> 
</body>
</html>